@model OrderUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="CustomerID"></label>
        <input asp-for="CustomerID" class="form-control" />
        <span asp-validation-for="CustomerID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select asp-for="Type" class="form-control">
            <option value="normal" style="color: blue;">Normal</option>
            <option value="urgent" style="color: red;">Urgent</option>
            <option value="secondary" style="color: green;">Secondary</option>
        </select>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReservationID"></label>
        <input asp-for="ReservationID" class="form-control" />
        <span asp-validation-for="ReservationID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AppUserID"></label>
        <input asp-for="AppUserID" class="form-control" />
        <span asp-validation-for="AppUserID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPrice"></label>
        <input asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VAT"></label>
        <input asp-for="VAT" class="form-control" />
        <span asp-validation-for="VAT" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<a asp-action="Index">Back to List</a>

