@model ProfileVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <form asp-controller="Profile" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerSurname" class="control-label"></label>
                <input asp-for="CustomerSurname" class="form-control" />
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
            </div>
            <!-- Diğer profil bilgilerini buraya ekleyebilirsiniz -->
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

